body {
    font-family: Arial;
    margin: 0;
}

header {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    border-bottom: 1px solid gray;
}
button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: darkblue;
}
h2 {
    color: blue;
}

/* Responsive */
@media (max-width: 600px) {
    body {
        background-color: lightgray;
    }
}
