body {
    font-family: Arial;
    margin: 0;
}

header {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    border-bottom: 1px solid gray;
}

h2 {
    color: blue;
}

/* Responsive */
@media (max-width: 600px) {
    body {
        background-color: lightgray;
    }
}
